/*
 * Travel Contract
 * The Travel Contract Application System
 *
 * The version of the OpenAPI document: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package org.openapitools.client.api;

import org.openapitools.client.ApiCallback;
import org.openapitools.client.ApiClient;
import org.openapitools.client.ApiException;
import org.openapitools.client.ApiResponse;
import org.openapitools.client.Configuration;
import org.openapitools.client.Pair;
import org.openapitools.client.ProgressRequestBody;
import org.openapitools.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.openapitools.client.model.ContractActionRequest;
import org.openapitools.client.model.ContractRequest;
import org.openapitools.client.model.ContractResponse;
import org.openapitools.client.model.ErrorResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class CreateLifecycleApi {
    private ApiClient localVarApiClient;

    public CreateLifecycleApi() {
        this(Configuration.getDefaultApiClient());
    }

    public CreateLifecycleApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for patchContract
     * @param contractRef External identifier of the contract (required)
     * @param contractActionRequest  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> NO_CONTENT </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> ERROR - Invalid object request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> ERROR - Not authenticated </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> ERROR - Access token does not have the required scope </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> ERROR - Internal Server error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call patchContractCall(String contractRef, ContractActionRequest contractActionRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = contractActionRequest;

        // create path and map variables
        String localVarPath = "/contracts/{contractRef}"
            .replaceAll("\\{" + "contractRef" + "\\}", localVarApiClient.escapeString(contractRef.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKey", "OAuth2" };
        return localVarApiClient.buildCall(localVarPath, "PATCH", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call patchContractValidateBeforeCall(String contractRef, ContractActionRequest contractActionRequest, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'contractRef' is set
        if (contractRef == null) {
            throw new ApiException("Missing the required parameter 'contractRef' when calling patchContract(Async)");
        }
        

        okhttp3.Call localVarCall = patchContractCall(contractRef, contractActionRequest, _callback);
        return localVarCall;

    }

    /**
     * Patch a Contract
     * Update an existing Contract
     * @param contractRef External identifier of the contract (required)
     * @param contractActionRequest  (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> NO_CONTENT </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> ERROR - Invalid object request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> ERROR - Not authenticated </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> ERROR - Access token does not have the required scope </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> ERROR - Internal Server error </td><td>  -  </td></tr>
     </table>
     */
    public void patchContract(String contractRef, ContractActionRequest contractActionRequest) throws ApiException {
        patchContractWithHttpInfo(contractRef, contractActionRequest);
    }

    /**
     * Patch a Contract
     * Update an existing Contract
     * @param contractRef External identifier of the contract (required)
     * @param contractActionRequest  (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> NO_CONTENT </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> ERROR - Invalid object request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> ERROR - Not authenticated </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> ERROR - Access token does not have the required scope </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> ERROR - Internal Server error </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<Void> patchContractWithHttpInfo(String contractRef, ContractActionRequest contractActionRequest) throws ApiException {
        okhttp3.Call localVarCall = patchContractValidateBeforeCall(contractRef, contractActionRequest, null);
        return localVarApiClient.execute(localVarCall);
    }

    /**
     * Patch a Contract (asynchronously)
     * Update an existing Contract
     * @param contractRef External identifier of the contract (required)
     * @param contractActionRequest  (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 204 </td><td> NO_CONTENT </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> ERROR - Invalid object request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> ERROR - Not authenticated </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> ERROR - Access token does not have the required scope </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> ERROR - Internal Server error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call patchContractAsync(String contractRef, ContractActionRequest contractActionRequest, final ApiCallback<Void> _callback) throws ApiException {

        okhttp3.Call localVarCall = patchContractValidateBeforeCall(contractRef, contractActionRequest, _callback);
        localVarApiClient.executeAsync(localVarCall, _callback);
        return localVarCall;
    }
    /**
     * Build call for postContract
     * @param contractRequest  (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> SUCCESS - Contract created </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> ERROR - Invalid object request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> ERROR - Not authenticated </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> ERROR - Access token does not have the required scope </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> ERROR - Internal Server error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call postContractCall(ContractRequest contractRequest, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = contractRequest;

        // create path and map variables
        String localVarPath = "/contracts";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "ApiKey", "OAuth2" };
        return localVarApiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call postContractValidateBeforeCall(ContractRequest contractRequest, final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = postContractCall(contractRequest, _callback);
        return localVarCall;

    }

    /**
     * Add a Contract
     * Add a new Contract
     * @param contractRequest  (optional)
     * @return ContractResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> SUCCESS - Contract created </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> ERROR - Invalid object request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> ERROR - Not authenticated </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> ERROR - Access token does not have the required scope </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> ERROR - Internal Server error </td><td>  -  </td></tr>
     </table>
     */
    public ContractResponse postContract(ContractRequest contractRequest) throws ApiException {
        ApiResponse<ContractResponse> localVarResp = postContractWithHttpInfo(contractRequest);
        return localVarResp.getData();
    }

    /**
     * Add a Contract
     * Add a new Contract
     * @param contractRequest  (optional)
     * @return ApiResponse&lt;ContractResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> SUCCESS - Contract created </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> ERROR - Invalid object request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> ERROR - Not authenticated </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> ERROR - Access token does not have the required scope </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> ERROR - Internal Server error </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ContractResponse> postContractWithHttpInfo(ContractRequest contractRequest) throws ApiException {
        okhttp3.Call localVarCall = postContractValidateBeforeCall(contractRequest, null);
        Type localVarReturnType = new TypeToken<ContractResponse>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Add a Contract (asynchronously)
     * Add a new Contract
     * @param contractRequest  (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 201 </td><td> SUCCESS - Contract created </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> ERROR - Invalid object request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> ERROR - Not authenticated </td><td>  -  </td></tr>
        <tr><td> 403 </td><td> ERROR - Access token does not have the required scope </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> ERROR - Internal Server error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call postContractAsync(ContractRequest contractRequest, final ApiCallback<ContractResponse> _callback) throws ApiException {

        okhttp3.Call localVarCall = postContractValidateBeforeCall(contractRequest, _callback);
        Type localVarReturnType = new TypeToken<ContractResponse>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
